
  body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: beige;
    background-image: url('images/floor-tile/floor-tile.png');
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header{
  margin-bottom: 3%;
}

nav {
  background-color: white;
  border-bottom: solid #cccccc thin;
  height: 60px;
}

.navbar.navbar-expand-lg.sticky-top.navbar-light.bg-light{
  padding: 0px;
}

span.navbar-brand.mb-01.h1 {
  position: relative;
  left: 100px;
  color: white;
  background-color: #4aaaa5;
  width: 150px;
  text-align: center;
  font-family:'Georgia', Times, 'Times New Roman', serif;
  font-weight: bold;
  margin: 0px;
  height: 100%;
  padding-top: 15px;
}

a.nav-link {
  color: #777777;
  position: relative;
  left: 700px;
}

.middle {
background-color: white;
color:#777777;
padding-bottom: 10px;
}

div.row.middle{
  margin-bottom: 10%;
  }

.about-me{
  padding-top:10px;
  margin-top: 0px;
  color: #4aaaa5;
  font-family:'Georgia', Times, 'Times New Roman', serif;
  border-bottom: solid #dddddd;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right:5px; 
  margin-left:5px; 
}

#profile{
width: 300px;
margin-right: 20px;
margin-bottom: 20px;
}
.content{
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom:0px;
}

footer {
  background-color: #666666;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 45px;
  font-size: 8px;
  color: #dddddd;
  font-weight: lighter;
  border-top: solid 8px #4aaaa5;
}

#copyright{
  position: absolute;
  bottom: 0px;
  left: 48%;
}

/* contact */
.btn.btn-primary.btn-sm {
  background-color: #4aaaa5;
  border-color: #4aaaa5;
}

/* portfolio */


.img-fluid.float-left {
  height: 300px;
  width: 100%;
}

.btn.btn-primary.btn-lg.btn-block {
  clear: both;
  position: relative;
  bottom: 100px;
  left: 0px;
  color: white;
  background-color: #4aaaa5;
  padding: 10px;
  text-align: center;
  border-color: #4aaaa5;
  border-radius: 0px;
}

